---
import RocketLogo from "../assets/RocketLogo.avif";
import { Image } from "astro:assets";
---

<main class="flex items-center justify-center">
  <Image class="w-[120px]" src={RocketLogo} alt="News NewsLogo" />
  <h1 class="text-2xl text-yellow-500 pb-4">NebulaExplorers</h1>
</main>
